@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Murmure";
    src: url(./lib/assets/fonts/le-murmure.ttf) format("truetype");
}

.primary-font {
    font-family: "Murmure";
}